/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Regular  400; Medium 500; SemiBold 600; Bold 700 */

body {
    /* fonte */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-fundo);

    /* Variáveis */
    --cor-destaque: #802bb1;
    --cor-fundo-principal-escuro: #121212;
    --cor-fundo-principal-claro: #dee4e7;
    --cor-fundo: var(--cor-fundo-principal-escuro);

    --cor-titulo-escuro: #c3c2cf;
    --cor-texto-escuro: #cccbd1;

    --cor-titulo-claro: #222222;
    --cor-texto-claro: #2f3030;

    --cor-titulo-padrao: var(--cor-titulo-escuro);
    --cor-texto-padrao: var(--cor-texto-escuro);

    transition: background-color .8s ease-in-out; 
}

.modo-escuro {
    /* Fundo e texto */
    --cor-titulo-padrao: var(--cor-titulo-escuro);
    --cor-texto-padrao: var(--cor-texto-escuro);
    --cor-fundo: var(--cor-fundo-principal-escuro);
    color: var(--cor-texto-padrao);
}

.modo-claro {
    --cor-titulo-padrao: var(--cor-titulo-claro);
    --cor-texto-padrao: var(--cor-texto-claro);
   --cor-fundo: var(--cor-fundo-principal-claro);
    color: var(--cor-texto-padrao);
}

/* padrões */
.titulo-padrao {
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-titulo-padrao);
}

.subtitulo-padrao {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--cor-titulo-padrao);
}

.texto-padrao {
    font-size: 1em;
    font-weight: 500;
    color: var(--cor-texto-padrao);
}

a {
    color: var(--cor-destaque);
    text-decoration: none;
}

.btn-padrao {
    border: none;
    background-color: var(--cor-destaque);
    color: var(--cor-titulo-padrao);
    font-weight: 600;
    border-radius: 1.5em;
    width: 248px;
    height: 6em;
    cursor: pointer;
    transition: transform .5s, background 1s ease-out;
}

.btn-padrao:hover, .btn-padrao:focus {
    transform: scale(1.05);
    background-color: #7422a3;
}

.btn-padrao .texto-padrao {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--cor-texto-escuro);
}

.invisivel {
    display: none;
}

/* Estilização do header */

/* Link para o github */
.github {
    position: absolute;
    top: 2em;
    left: 2em;
    vertical-align: middle;
}

.github a {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github .titulo-padrao {
    font-size: 1em;
    margin-left: 0.5em;
}

.logo-github {
    background-image: url(../images/GitHub-Mark-Light-120px-plus.png);
    background-size: 2em;
    /* background-repeat: no-repeat; */
    background-position: center;
    height: 2em;
    width: 2em;
}

.modo-claro .logo-github {
    background-image: url(../images/GitHub-Mark-120px-plus.png);
}

/* Estilo do botão para trocar entere modo escuro/claro */

.trocar-cor {
    background-image: url(../images/icons8-sun-64.png);
    background-repeat: no-repeat;
    background-size: 2.5em;
    background-position: center;
    position: absolute;
    top: 2em;
    right: 2em;
    width: 2.5em;
    height: 2.5em;
    transition: background-image .5s ease-in;
}

.modo-claro .trocar-cor {
    background-image: url(../images/icons8-moon-64.png);
    background-repeat: no-repeat;
    background-size: 2.5em;
    background-position: center;
}

.trocar-cor:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Estilização do body */

/* Estilização do menu inicial */
.apresentacao-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.opcoes .btn-padrao {
    margin: 0 0 2em 0;
}

.opcoes .btn-padrao:last-child {
    border: var(--cor-destaque) solid;
    border-width: 0.25em;
    background-color: transparent;
}

.opcoes .btn-padrao:last-child .texto-padrao {
    color: var(--cor-destaque);
}

/* Define uma animação para fazer a flecha ir para baixo e voltar */
@keyframes animar-flecha {
    0% {
        transform: translate(-50%, -75%);
    }
    100% {
        transform: translate(-50%, 50%);
    }
}

.flecha-baixo {
    filter: brightness(0) saturate(100%) invert(20%) sepia(37%) saturate(4641%) hue-rotate(265deg) brightness(98%) contrast(96%);
    width: 2em;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);

    animation: animar-flecha 1s ease-in-out infinite alternate;
}

/* Estilização da tela para adicionar palavras */
.add-palavra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.add-palavra-entrada {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-palavra .input-padrao {
    width: 80%;
    height: 4em;
    margin: 1.5em auto;
    outline: none;
    border: none;
    border-radius: 1.5em;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-padrao);
    transition: background-color .8s ease;
    font-weight: 600;
    text-align: center;
}

.add-palavra .input-padrao:focus {
    outline: 3px solid var(--cor-destaque);
}

.interrogacao {
    display: inline-block;
    position: relative;
    background-color: var(--cor-destaque);
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    color: var(--cor-texto-escuro);
    margin: 0 0 1.5em 0;
    transition: transform .2s linear;
}

.interrogacao:hover, .interrogacao:focus {
    transform: scale(1.05);
}

.interrogacao::before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 10em;
    background-color: var(--cor-destaque);
    color: var(--cor-texto-escuro);
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    padding: 1em 0;
    transition: opacity .3s ease-in-out;
    
    position: absolute;
    z-index: 1;
    bottom: 2em;
    left: 50;
    transform: translateX(-50%);
}

.interrogacao:hover::before, .interrogacao:focus::before {
    opacity: 1;
    visibility: visible;
}

.add-erros {
    text-align: center;
    font-size: .85em;
    font-weight: 400;
    padding: 1.5em;
    line-height: 2em;
    opacity: 1;
    transition: opacity 5s linear;
}

/* Animação de "shake" (sacudir) na palavra */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}

.add-erros p {
    animation: shake .8s ease-in 1;
}


.add-palavra-saida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.add-palavra-saida .btn-padrao {
    margin: 0 1em;
}

.add-palavra-saida .btn-sair {
    border: var(--cor-destaque) solid;
    border-width: 0.25em;
    background-color: transparent;
}

.add-palavra-saida .btn-sair .texto-padrao {
    color: var(--cor-destaque);
}


/* Estilização do jogo */
.jogo {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0 0 6em 0;
}

#tabuleiro {
    max-width: 1200px;
    max-height: 800px;
}

.btn-reiniciar {
    margin: 0 1em 0 0;
}

.jogo .btn-padrao:last-child {
    border: var(--cor-destaque) solid;
    border-width: 0.25em;
    background-color: transparent;
}

.jogo .btn-padrao:last-child .texto-padrao {
    color: var(--cor-destaque);
}

/* Estilização da sessão de informações */
.info {
    text-align: center;
}

.sobre {
    margin: 0 0 2em 0;
    line-height: 2em;
}

.repo {
    line-height: 2em;
}

.repo .github {
    position: inherit; 
    margin: .5em 0 0 0;
}

.creditos {
    margin: 2em 0 0 0;
    line-height: 2em;
}

/* Estilização do footer */
footer {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tags {
    margin: 2em 0 0 0;
}

.criador {
    position: absolute;
    bottom: 1em;
}

.hashtag {
    color: var(--cor-destaque);
}

.wave-anim {
    min-width: 100vw;
    max-width: 100vw;
}

/* Tem que ficar aqui em baixo para funcionar corretamente */
.invisivel {
    display: none;
}

/* @media screen and (min-device-width: 359px) and (max-device-width: 450px) {
    #tabuleiro {
        width: 400px;
        height: 400px;
    }
} */
